<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">  
    <!-- 日志最大的历史 30天 -->  
    <property name="maxHistory" value="30"/>
    <!-- 日志文件大小 5MB -->  
    <property name="maxFileSize" value="5MB"/>
  	<!-- 文件輸出 -->  
  	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		<append>true</append> 
	    <encoder>  
	        <pattern>  
	            [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
	        </pattern>  
	    </encoder>  
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	      	<!-- rollover daily 配置日志所生成的目录以及生成文件名的规则 -->  
	      	<maxHistory>${maxHistory}</maxHistory> 
	      	<fileNamePattern>@sys.path@/logs/wpm-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
	      	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
	        	<maxFileSize>${maxFileSize}</maxFileSize>  
	      	</timeBasedFileNamingAndTriggeringPolicy>  
	    </rollingPolicy>  
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
	      	<level>@log.file.level@</level>  
	    </filter>  
	    <!-- Safely log to the same file from multiple JVMs. Degrades performance! -->  
	    <prudent>true</prudent>  
  	</appender>  
  
  
  	<!-- 控制台輸出 -->  
  	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
      	<encoder>  
          	<pattern>  
              	[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
          	</pattern>  
      	</encoder>  
    	<!-- Only log level DEBUG and above -->  
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
      		<level>@log.console.level@</level>  
    	</filter>  
  	</appender>  
  
  	<root level="INFO">  
    	<appender-ref ref="file" />  
    	<appender-ref ref="console" />  
  	</root>  
</configuration>